@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFFFFF;
	background-image:url(Images/bruschetta_2.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	margin:0;
	padding:0;
}

#container {
	width:980px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
}


#header {
	position:fixed;
    top: 0;
	margin:auto;
    z-index: 9999;
}

#images {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:257px;
	width:980px;
}



